$border-color:#E2E6E7;
$color-1:#A47503;
$color-2:#FFC12D;
$color-3:#F9B718;
$color-4:#A1B1BC;
$color-5:#CFD2D3;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    //For pixel perfect testing
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Lato';
}

section {
    border:1px solid $border-color;
    height:150px;
    width:570px;
    border-radius:10px;
    display: flex;
}

div {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 39px;
    margin-right: 28px;

    > i {
        color:$color-1;
        background-color: $color-2;
        padding: 16.7px 22px;
        margin-left: 49px;
        border: 7px solid $color-3;
        border-radius: 50%;
        margin-top: 3px;
        font-size: 19px;
    }

    > h1 {
        font-size:14px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1.37px;
     }

    > p {

        margin-top: 12px;
        font-size: 14px;
        letter-spacing: 0px;
        color: $color-4;
        line-height: 24px;
        max-width: 358px;
    }

    > a {
        color: $color-5;
        text-decoration: none;
        position: absolute;
        margin-top: -25px;
        margin-left: 13px;
        font-weight: 900;
    }
}